<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.moodX.app.utils.MyAppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.moodX.app.RazorPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moodX.app.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.moodX.app.PapalPaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.WebViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

        <activity
            android:name="com.moodX.app.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.ReplyActivity"
            android:label="@string/title_activity_reply"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moodX.app.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.PassResetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.DetailsActivity"
            android:configChanges="screenLayout|screenSize|orientation"
            android:label="@string/title_activity_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moodX.app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moodX.app.ItemMovieActivity"
            android:label="@string/title_activity_item_show"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moodX.app.ItemTVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.ItemSeriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.StripePaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.PurchasePlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
        <activity
            android:name="com.moodX.app.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Nobar" />
    </application>

</manifest>